/* Resetando estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Classes de utilidade */
.margin-p {
  margin: 10px; /* Reduzindo a margem */
  padding: 10px; /* Reduzindo o padding */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-width {
  max-width: 250px; /* Reduzindo o max-width */
}

.transition {
  transition: background-color 0.3s;
}

/* Estilo do coração */
.heart {
  width: 120px; /* Reduzindo o tamanho do coração */
  height: 120px; /* Reduzindo o tamanho do coração */
  position: relative;
  background-color: red;
  transform: rotate(-45deg);
  animation: heartbeat 1s infinite;
  margin-bottom: 50px; /* Reduzindo a margem */
  position: absolute;
  top: 22%;
  left: 47%;
  transform: translate(-50%, -100%);
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 120px; /* Reduzindo o tamanho do coração */
  position: absolute;
  width: 120px; /* Reduzindo o tamanho do coração */
}

.heart:before {
  top: -60px; /* Ajustando a posição */
}

.heart:after {
  left: 60px; /* Ajustando a posição */
}

/* Animação de pulsação */
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.1) rotate(-45deg);
  }
}

/* Estilo do poema e do botão */
.poem-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.poem {
  font-size: 14px; /* Reduzindo a fonte */
  color: #fff;
  text-align: center; 
  line-height: 1.4; /* Reduzindo o line-height */
  margin-top: 15px; /* Reduzindo a margem */
}

.poem subtitle {
  font-size: 18px; /* Reduzindo a fonte */
  font-weight: bold;
  margin-bottom: 8px; /* Reduzindo a margem */
  margin-top: 8px; /* Reduzindo a margem */
}

/* Estilo do botão */
button {
  padding: 8px 16px; /* Reduzindo o padding */
  font-size: 14px; /* Reduzindo a fonte */
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px; /* Reduzindo o border-radius */
  cursor: pointer;
  margin-top: 20px; /* Reduzindo a margem */
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:hover {
  background-color: #d32f2f;
}

/* Removendo a media query */
