/* Resetando estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column; /*Mudando para coluna para mobile*/
}

/* Classes de utilidade */
.margin-p {
  margin: 20px;
  padding: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-width {
  max-width: 300px;
}

.transition {
  transition: background-color 0.3s;
}

/* Estilo do coração */
.heart {
  width: 150px; /* Reduzindo o tamanho do coração */
  height: 150px; /* Reduzindo o tamanho do coração */
  position: relative;
  background-color: red;
  transform: rotate(-45deg);
  animation: heartbeat 1s infinite;
  margin-bottom: 20px; /* Ajustando a margem */
  margin-left: 0px; /*Removendo margem fixa*/
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 150px; /* Reduzindo o tamanho do coração */
  position: absolute;
  width: 150px; /* Reduzindo o tamanho do coração */
}

.heart:before {
  top: -75px; /* Ajustando a posição */
}

.heart:after {
  left: 75px; /* Ajustando a posição */
}

/* Animação de pulsação */
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.1) rotate(-45deg);
  }
}

/* Estilo do poema e do botão */
.poem-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  width: 90%; /*Usando porcentagem*/
}

.poem {
  font-size: 16px; /* Reduzindo a fonte */
  color: #fff;
  text-align: center; /* Centralizando o texto */
  line-height: 1.5;
  margin-left: 0px; /*Removendo margem fixa*/
  margin-top: 20px; /*Ajustando margem*/
}

.poem subtitle {
  font-size: 20px; /* Reduzindo a fonte */
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Estilo do botão */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0px; /*Removendo margem fixa*/
  margin-top: 20px;
}

button:hover {
  background-color: #d32f2f;
}

/* Media Query para telas maiores (desktop) */
@media (min-width: 768px) {
  body{
    flex-direction: row;
  }
  .heart {
    width: 200px;
    height: 200px;
    margin-bottom: -250px;
    margin-left: 170px;
  }

  .heart:before,
  .heart:after {
    height: 200px;
    width: 200px;
  }

  .heart:before {
    top: -100px;
  }

  .heart:after {
    left: 100px;
  }
  .poem{
    text-align: left;
    margin-left: 600px;
    margin-top: -150px;
  }
  button{
    margin-left: 700px;
    margin-top: 20px;
  }
  .poem-button-container{
    width: auto;
  }
}
