/* Resetando estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: row;
}

/* Classes de utilidade */
.margin-p {
  margin: 20px;
  padding: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-width {
  max-width: 300px;
}

.transition {
  transition: background-color 0.3s;
}

/* Estilo do coração */
.heart {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: red;
  transform: rotate(-45deg);
  animation: heartbeat 1s infinite;
  margin-bottom: -250px;
  margin-left: 170px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 200px;
  position: absolute;
  width: 200px;
}

.heart:before {
  top: -100px;
}

.heart:after {
  left: 100px;
}

/* Animação de pulsação */
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(1.1) rotate(-45deg);
  }
}

/* Estilo do poema e do botão */
.poem-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  flex-grow: 1;
  flex-shrink: 0;
}

.poem {
  font-size: 18px;
  color: #fff;
  text-align: left;
  line-height: 1.5;
  margin-left: 600px;
  margin-top: -150px;
}

.poem subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -10px;
}

/* Estilo do botão */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 700px;
  margin-top: 20px;
}

button:hover {
  background-color: #d32f2f;
}